.image-container {
    position: relative;
    width: 50%;
    max-height: 100px; /* Ajusta la altura máxima según tus preferencias */
    overflow: hidden;
  }
  
  .floating-image {
    width: 100%; /* Cambia el ancho a "auto" para ajustar automáticamente la anchura */
    max-height: auto; /* Ajusta la altura máxima al 100% del contenedor */
    position: absolute;
    animation: floatImage 4s linear infinite; /* Agrega una animación de desplazamiento */
  }
  
  @keyframes floatImage {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, -10px); /* Ajusta la cantidad de desplazamiento vertical */
    }
    100% {
      transform: translate(0, 0);
    }
  }
  