<!-- Se crea un contenedor que hace uso de Bootstrap -->
<div class="container">
  <!-- Se crea una fila de Bootstrap -->
  <div class="row">
    <div class="col-md-6"> <!-- Modificado para que esté alineado a la izquierda -->
      <!-- Se crea un cuadro de Bootstrap -->
      <div class="card mt-4 card-3d">
        <!-- Se crea el encabezado del cuadro donde se encuentra el menú -->
        <div class="card-header bg-secondary text-white">
          <h2 class="text-center">Bienvenido al Registro de Inventario</h2>
        </div>
        <!-- Cuerpo del cuadro -->
        <div class="card-body">
          <p class="text-center">Por favor, seleccione una de las opciones:</p>
          <div class="text-center">
            <!-- Se aplica la función goToling para manejar el evento de click -->
            <button class="btn btn-primary btn-3d" (click)="goToLogin()">Ingresar al Login</button>
          </div>
          <div class="text-center mt-3">
            <!-- Se aplica la función goToling para manejar el evento de click -->
            <button class="btn btn-success btn-3d" (click)="goToRegistro()">Ingresar al Registro</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
